/******** Main wrapper ********/
main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
}

/******** Sidebar filter ********/
aside {
    border: 1px solid #eaeaea;
    width: 100%;
    height: 600px;
    position: relative;
    top: 100px;
    font-family: var(--heading-font);
    padding-top: 20px;
    padding-left: 20px;
}

aside h3 {
    font-size: 2.4rem;
}

aside ul {
    font-size: 2rem;
    margin-top: 20px;
    list-style: none;
}

/******** Product listing ********/
section.product-list-container {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    margin-inline: auto;
    padding-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: 80px;
    overflow: scroll;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
section::-webkit-scrollbar {
    display: none;
}

article.product-card {
    font-family: var(--heading-font);
    border: 1px solid #eaeaea;
    height: min-content;
    padding-bottom: 20px;
}

.product-image-container {
    height: 300px;
    overflow: hidden;
}

.product-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease;
}

.product-image-container img:hover {
    width: 110%;
    height: 110%;
}

.product-info-container {
    padding-inline: 15px;
}

.product-title-price-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title-price-container h2 {
    font-size: var(--product-title);
    width: 85%;
}

.product-title-price-container span {
    font-size: var(--product-price);
    width: 15%;
    text-align: right;
}

/******** Product actions (see more / cart) ********/
.product-actions-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.product-actions-container button {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    padding: 5px 20px;
}

.product-actions-container a {
    font-family: var(--heading-font);
    font-size: 1.6rem;
    padding: 5px 20px;
    text-decoration: none;
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    color: #2d2d2d;
}

.product-actions-container button {
    background-color: #009ee3;
    border: 1px solid #009ee3;
    color: #fff;
}

/******** Product categories ********/
.product-categories-container {
    margin-top: 20px;
    font-size: 1.6rem;
}
